<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>ircClient</title>
</head>
<body>
    <h1>IRC Client</h1>
    <form action="/auth/login" method="post">
        <h2>Login</h2>
        <label for="email"></label>
        <input required id="email" name="email" type="email" placeholder="email">

        <label for="password"></label>
        <input required id="password" name="password" type="password" placeholder="password">

        <label for="submit"></label>
        <input id="submit" name="submit" type="submit">

        <div id="accountLinks">
            <a href="/create">Create Account</a>
            <a href="/reset">Reset Password</a>
        </div>
    </form>
    
</body>
</html>